*{
margin:0;
padding:0;
}
p{
    background-color: aqua;
    
}
header{

    height: 50px;
    width: 100%;
}
nav{
    display: block;
}
.main{
    min-height: 100%;
    width: 100%;
}
.container{
    background-color: azure;
    height: 100px;
    width: 100%;
}


footer{
    
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}
